<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/estilo_cadastro.css">
    <title>Formulário</title>
</head>

<body>
    <div class="container">
        <div class="form-image">
            <img src="{{ url_for('static', filename='img/mao_carteira.jpg') }}" alt="Descrição da imagem">
        </div>
        <div class="form">
            
                <div class="form-header">
                    <div class="title">
                        <h1>EasyCâmbio</h1>
                    </div>
                    
                </div>

                <div class="input-group">
                    <form action="/envia" method="POST">
                    <div class="input-box">
                        <label for="nome">Nome</label>
                        <input id="nome" type="text" name="nome"  placeholder="Digite a sigla do país">
                    </div>
                    <div class="input-box">
                        <label for="email">E-Mail</label>
                        <input id="email" type="text" name="email"  placeholder="Digite a sigla do país">
                    </div>

                </div>    

                <div class="gender-inputs">
                    <div class="gender-title">
                        <h1>Conversão</h1>
                    </div>

            
           
            <div class="continue-button">
                <button type="submit"><a>Converter</a> </button>
            </div>
            </form>
            
            <div class="continue-button">
                <button><a href="{{ url_for('homepage') }}">Voltar à Home</a></button>
            </div>
        
        </div>
    </div>
</body>

</html>