<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/estilo.css">
    <title>Formulário</title>
</head>

<body>
    <div class="container">
        <div class="form-image">
            <img src="{{ url_for('static', filename='img/mao_cartao.jpg') }}" alt="Descrição da imagem">
        </div>
        <div class="form">
            <form action="#">
                <div class="form-header">
                    <div class="title">
                        <h1>EasyCâmbio</h1>
                    </div>
                    
                </div>

                <div class="input-group">

                    <div class="input-box">
                        <label for="pais1">País</label>
                        <input id="pais1" type="text" name="pais" list="lista-paises" placeholder="Digite a sigla do país">
                        
                        <datalist id="lista-paises">
                            <option value="BR"> <!-- Brasil -->
                            <option value="US"> <!-- Estados Unidos -->
                            <option value="FR"> <!-- França -->
                            <option value="DE"> <!-- Alemanha -->
                            <option value="JP"> <!-- Japão -->
                            <option value="IT"> <!-- Itália -->
                            <option value="PT"> <!-- Portugal -->
                            <option value="AR"> <!-- Argentina -->
                            <option value="MX"> <!-- México -->
                            <option value="ES"> <!-- Espanha -->
                        </datalist>
                    </div>
                    
                    <div class="input-box">
                        <label for="pais2">País</label>
                        <input id="pais2" type="text" name="pais" list="lista-paises" placeholder="Digite a sigla do país">
                        
                        <datalist id="lista-paises">
                            <option value="BR"> <!-- Brasil -->
                            <option value="US"> <!-- Estados Unidos -->
                            <option value="FR"> <!-- França -->
                            <option value="DE"> <!-- Alemanha -->
                            <option value="JP"> <!-- Japão -->
                            <option value="IT"> <!-- Itália -->
                            <option value="PT"> <!-- Portugal -->
                            <option value="AR"> <!-- Argentina -->
                            <option value="MX"> <!-- México -->
                            <option value="ES"> <!-- Espanha -->
                        </datalist>
                    </div>
                    
                    <div class="input-box">
                        <label for="valor">Valor</label>
                        <input id="valor" type="number" name="valor" placeholder="Digite o valor">
                    </div>
                    
                </div>
                <div class="caixa-info">
                    {{ resultado }}
                </div>

                <div class="gender-inputs">
                    <div class="gender-title">
                        <h1>Conversão</h1>
                    </div>

            
            </form>
            <div class="continue-button">
                <button><a href="#">Converter</a> </button>
            </div>
            <form action="/envia_email" method="POST">
            <div class="continue-button">
                <button><a href="#">Via-email</a> </button>
            </div>
        </form>
        </div>
    </div>
</body>

</html>